<html>

<head>
  <title>Internal Server Error</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="shortcut icon"
    href="https://cdn.discordapp.com/avatars/612829569199767574/524db38a58bbe9ed942d985fb8852d1c.png?size=256" />
  <meta content="https://cdn.discordapp.com/avatars/612829569199767574/524db38a58bbe9ed942d985fb8852d1c.png?size=256"
    property="og:image">
  <meta charset="UTF-8">
  <meta content="NoFortnite" property="og:title">
  <meta name="theme-color" content="#b500a0">
  <meta content="Oh no! An error occured" property="og:description">
  <link type="application/json+oembed" href="https://no-fortnite.glitch.me/oembed.json" />
</head>
<html>
    <h1>Oh no! An error cooured whille processing your request</h1>
</html>
</html>