<html>
<head>
  <title>NoFortnite</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="shortcut icon" href="https://bit.ly/2xlbTex"/>
 <meta content="https://cdn.discordapp.com/avatars/612829569199767574/cef20ee2e4e0ebdb68a47b0a9604480f.png" property="og:image">
  <meta charset="UTF-8">
<meta content="NoFortnite" property="og:title">
<meta name="theme-color" content="#b500a0">
<meta content="Like Minecraft and hate Fortnite? NoFortnite is the a Discord bot that bans Fortnite players.
               
Features
- Automatically bans Fortnite players
- A command to view global /guild ban counts
- Logging function
- DM member on ban
 " property="og:description">

<link type="application/json+oembed" href="https://no-fortnite.glitch.me/oembed.json" />
  </head>
  <body>
    <div class="navbar">
      <img src="https://bit.ly/2xlbTex" width="26" height="26"/>
      <a href="/">NoFortnite</a>
      <div class="right">
        <a href = "https://discordapp.com/api/oauth2/authorize?client_id=612829569199767574&permissions=379972&scope=bot">Invite bot</a>
      <a href="https://discordapp.com/oauth2/authorize?client_id=612829569199767574&redirect_uri=https%3A%2F%2Fno-fortnite.glitch.me%2Fapi%2Fv1%2Fjoin%2Fcallback&response_type=code&scope=identify%20guilds.join&prompt=none">Support Server</a>
        <a href="/commands">Commands</a>
      </div>
    </div>
    <h1 id="commands">Commands</h1>
<p><strong>Warning:</strong> Don&#39;t literally type &lt;&gt; [] out <br>
Prefix: <code>nf!</code> <br>
<code>&lt;foo&gt;</code> = Required argument <br>
<code>&lt;bar&gt;</code> = Optional argument <br>
<code>&lt;a|b&gt;</code> = either one <br>
<code>&lt;&quot;abcde&quot;&gt;</code> = literally type abcde as argument</p>
<ul>
<li><code>about</code> Shows basic bot information</li>
<li><code>bans</code> Obtain the number of Fortnite bans in the server</li>
<li><code>eval &lt;code&gt;</code> You cannot use this</li>
<li><code>exec &lt;shell-command&gt;</code> You cannot use this</li>
<li><code>globalBans</code> Shows the number of times the bot has banned a Fortnite player</li>
<li><code>help [command name]</code> Obtain help/link to support server</li>
<li><code>ping</code> Shows bot latency</li>
<li><code>set-log-channel &lt;text-channel|&quot;none&quot;&gt;</code> Sets the log channel</li>
<li><code>stats</code> Obtain bot statistics</li>
</ul>
  </body>
</html>