<html>
<head>
  <title>NoFortnite</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="shortcut icon" href="https://bit.ly/2xlbTex"/>
 <meta content="https://cdn.discordapp.com/avatars/612829569199767574/524db38a58bbe9ed942d985fb8852d1c.png?size=256" property="og:image">
  <meta charset="UTF-8">
<meta content="NoFortnite" property="og:title">
<meta name="theme-color" content="#b500a0">
<meta content="Like Minecraft and hate Fortnite? NoFortnite is the a Discord bot that bans Fortnite players.
               
Features
- Automatically bans Fortnite players
- A command to view global /guild ban counts
- Logging function
- DM member on ban
 " property="og:description">
<link type="application/json+oembed" href="https://no-fortnite.glitch.me/oembed.json" />
  </head>
  <body>
    <div class="navbar">
      <img src="https://bit.ly/2xlbTex" width="26" height="26"/>
      <a href="/">NoFortnite</a>
      <div class="right">
        <a href = "https://discordapp.com/api/oauth2/authorize?client_id=612829569199767574&permissions=379972&scope=bot">Invite bot</a>
      <a href="https://discordapp.com/oauth2/authorize?client_id=612829569199767574&redirect_uri=https%3A%2F%2Fno-fortnite.glitch.me%2Fapi%2Fv1%2Fjoin%2Fcallback&response_type=code&scope=identify%20guilds.join&prompt=none">Support Server</a>
        <a href="/commands">Commands</a>
      </div>
    </div>
  <p style="font-size:128px;text-align:center" id="bottitle">
    NoFortnite
    </p>
  <p style="font-size:56px;text-align:center">
    A discord bot that bans Fortnite players
    </p>
    <div id ="addbot" style="text-align:center">
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=612829569199767574&permissions=379972&scope=bot" style="font-size:48px">Add bot</a>
    </div>
    <p id="ban-count" style="font-size:32px;text-align:center">Loading...</p>
    <div id="content" style="text-align:center">
      
    <h2 id="features">Features</h2>
<ul>
<li>Automatically bans Fortnite players</li>
<li>A command to view global /guild ban counts</li>
<li>Logging function</li>
<li>DM member on ban</li>
</ul>
  <h2 id="how-to-use">How to use</h2>
    <ol>
<li>Invite the bot: <a href="https://discordapp.com/api/oauth2/authorize?client_id=612829569199767574&permissions=379972&scope=bot">link</a></li>
<li>Move the bot&#39;s role higher so it can ban Fortnite players</li>
<li>Create a log channel or use an existing one</li>
<li> Do <code>nf!set-log-channel &lt;channel&gt;</code> to set the log channel.</li>
<li>All done </li>
    </ol>
<h2 id="support">Support</h2>
<p>You can get support <a href="https://discord.gg/hsJ6VR4">here</a>.</p>
          </div>
 <script src="/bans.js"></script>
    <footer>Made by Nick Chan#0001</footer>
  </body>
</html>